<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src='/js/index.js'></script>
</head>
<body>
<div class="container container-fluid">
    {% if user %}
    <nav class="navbar transparent navbar-fixed-top">
        <ul class="nav navbar-nav navbar-right logout">
            <li><a href="/logout" class="logout-text"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </nav>
    {% endif %}
    {% for err in errors %}
        <div class='alert alert-danger'>{{ err.msg }}</div>
    {% endfor %}

    {% if (success_msg != "") %}
        <div class='alert alert-success'>{{ success_msg }}</div>
    {% elif (error_msg != "") %}
        <div class='alert alert-danger'>{{ error_msg }}</div>
    {% elif (error != "") %}
        <div class='alert alert-danger'>{{ error }}</div>
    {% endif %}

    {% block content %}
    {% endblock %}
</div>
</body>