{% set title='Change Profile' %}
{% extends '_layout.html' %}

{% block content %}
<div class="container">
    <div class="row custom-profile col-md-10 col-md-offset-1">
        <div class="col-md-4 col-sm-6 col-xs-12 custom-avatar">
            <div class="text-center">
                <img src="{{ profile.avatar }}" class="img img-rounded img-responsive avatar" alt="avatar">
                <label class="btn custom-upload" id="uploadImage" for="inputImage">
                    Upload new picture
                    <input type="file" id="inputImage">
                </label>
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <h3 class="text">Personal info</h3>
            <form class="form-horizontal" role="form" action="/profile" method="post">
                <div class="form-group">
                    <label class="col-lg-3 control-label text">Full name:</label>
                    <div class="col-lg-8">
                        <label>
                            <input class="form-control" value="{{ profile.fullname }}"
                                   type="text" name="fullname">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label text">Email:</label>
                    <div class="col-lg-8">
                        <label>
                            <input class="form-control"
                                   value="{{ profile.email }}" type="text" name="email">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label text">Address:</label>
                    <div class="col-md-8">
                        <label>
                            <input class="form-control" value="{{ profile.address }}"
                                   type="text" name="address">
                        </label>
                    </div>
                </div>

                <input type="hidden" class="form-control" name='avatar' value="{{ profile.avatar }}">

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary">Save Change</button>
                        <span></span>
                        <a href="/profile" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
