{% set title='List Profile' %}
{% extends '_layout.html' %}

{% block content %}
<h1 class="text">{{title}}</h1>
<hr>
<div class="row">
	<div class="col-md-6 col-md-offset-6">
		<div class="input-group" >
			<div class="input-group-btn">
		        <select class="btn searchSelect">
					<option value="username"
					{% if (key == 'username') %}
						selected
					{% endif %}
					>Username</option>
					<option value="fullname"
					{% if (key == 'fullname') %}
						selected
					{% endif %}
					>Full Name</option>
		        </select>
	      	</div>

			<input type="text" class="form-control searchInput" placeholder="Search..." value="{{value}}">
			<span class="input-group-btn">
				<button class="btn btn-default searchButton" type="button">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
	</div>
</div>

<table class="table table-filter">
	<thead class="custom-thead">
		<tr>
			<th>Id</th>
			<th>Username</th>
			<th>Fullname</th>
			<th>Email</th>
			<th>Address</th>
		</tr>
	</thead>

	<tbody>
	{% for profile in profiles %}
		<tr class="custom-list">
			<td>{{ profile.id }}</td>
			<td>{{ profile.username }}</td>
			<td><a href="/profile/{{ profile.credentialId }}">{{ profile.fullname }}</a></td>
			<td>{{ profile.email }}</td>
			<td>{{ profile.address }}</td>
		</tr>
	{% endfor %}
	</tbody>

</table>

{% endblock %}
