{% set title='Profile' %}
{% extends '_layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 custom-profile">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4 custom-avatar">
                        <img src="{{ profile.avatar }}" alt="" class="img img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h3>{{ profile.fullname }}</h3>
                        <p>
                            <i class="fa fa-location-arrow custom-icon "></i>{{ profile.address}}
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-envelope custom-icon"></i>{{ profile.email }}
                            <br>
                            <i class="fa fa-user custom-icon username">{{ profile.username }}</i>
                        </p>
                        <a href="/profile/edit"><button class="btn btn-warning">Change Profile</button></a>
                        <!-- <a href="/profile/editPw"><button class="btn-default">Change Password</button></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
