{% set title='Profile' %}
{% extends '_layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-md-push-3">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="{{ profile.avatar }}" alt="" class="img img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ profile.fullname }}</h4>
                        <small><cite title="">{{ profile.address }}<i class="glyphicon glyphicon-map-marke" width="304" height="236">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{ profile.email }}
                            <br />
                            <i class="fullname">{{ profile.fullname }}</i>
                            <br />
                        </p>
                        <a href="/profile/edit"><button class="btn btn-warning">Change Profile</button></a>
                        <!-- <a href="/profile/editPw"><button class="btn-default">Change Password</button></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
